---
import Layout  from './Layout.astro'
import Content from './Content.astro'
import RepositoryButton from '../components/RepositoryButton.astro'
import '../styles/markdown.css'


const {frontmatter} = Astro.props;
const {title, description, githubURL = ""} = frontmatter;
---
<Layout {title} >
    <Content>
        <article class="markdown">
            <h1 class="backlink" transition:name="title-projects"><a href="/projects">Projects</a></h1>
            <h1 class="title"> {title} </h1>
            {githubURL != "" && <RepositoryButton link={githubURL}/>} 
            <p class="description"> {description} </p>
            <div class="textbody">
            <slot/>
        </div>
    </article>
    </Content>
</Layout>

