---
import Layout  from './Layout.astro'
import Content from './Content.astro'
import RepositoryButton from '../components/RepositoryButton.astro'
import Learnings from '../components/Learnings.astro'
import '../styles/markdown.css'


const {frontmatter} = Astro.props;
const {title, description, githubURL = "", learnings = []} = frontmatter;
---
<Layout {title} {description}>
    <Content>
        <article class="markdown">
            <div class="flex flex-col sm:flex-row my-4 md:my-6">
                <h1 class="backlink  hidden md:inline-block " transition:name="title-projects"><a href="/projects">Projects</a></h1>
                <h1 class=""> {title} </h1>
                {githubURL != "" && <RepositoryButton link={githubURL}/>} 
            </div>
            {learnings.length > 0 && <Learnings {learnings} />}
            <div class="textbody">
            <slot/>
        </div>
    </article>
    </Content>
</Layout>

