---
import '@fontsource/geist-sans/200.css';
import '@fontsource/geist-sans/300.css';
import '@fontsource/geist-sans/500.css';
import '@fontsource/geist-sans/600.css';
import '@fontsource/my-soul';
import '@fontsource/rampart-one';
import '@fontsource/fira-mono';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = 'Portfolio of Marius N. Haugen — developer based in the London area.',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en" class="bg-background text-white font-light" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta name="twitter:card" content="summary" />
		<ViewTransitions/>
	</head>
	<body>
		<slot />
	</body>
</html>
